body {
    background-color: #fff;
    background-repeat: repeat;
    height: auto;
    margin: 0;
    position: relative;
}
  
* {    
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
}
header {
    background-color: #001fff;
    font-size: 3vh;
    height: 130px;
}

header img {
    width: 100px;
}

footer {
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 50px 0 50px 0;
}

.main-page {
    width: 1024px;
    margin: 0 auto;
}

.head {
    padding-top: 10px;
}

.head-name {
    color: #ffe000;
}

.head-name-1 {
    font-size: 1.75vh;
    color: #fff;
    font-weight: 300;
}

header img {
    color: #ffe000;
    float: left;
    padding: 15px;
}


.graphic{
    background-image: url('img/chantaburi-cover.jpeg');
    height: 320px;
    padding: auto;
}

.top10 {
    background-color: #fff;
    padding: 10px;
}

.img10 {
   width: 190px; 
   border-radius: 10px; 
}

nav .top-menu {
    background-color: #fff;
    height: 40px;
}

.top-menu {
    margin: auto;
    display: flex;
    justify-content: center;
}

.top-menu ul{
    padding: 0%;
}

.top-menu ul:hover {
    color: blueviolet;
}

.top-menu li {
    float: left;
    padding: 10px 40px;
}

.top-menu a {
    text-decoration: none;
    color: #000000;
}

.link10 {
    background-color: white;
    padding: 10px;
}

.link10 ul li{
    list-style: disc;
}

.maps {
    padding: 0%;
    margin: 0%;
}